<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="MyMQConfig" type="IronFramework.Common.Config.SectionHandler`1[[Megadotnet.MessageMQ.Adapter.Config.MyMQConfig, Megadotnet.MessageMQ.Adapter]],IronFramework.Common.Config"/>
    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging"/>
    </sectionGroup>
  </configSections>
  <MyMQConfig>
    <mqidaddress>tcp://127.0.0.1:61616/</mqidaddress>
    <queuedestination>PushMessageQueue</queuedestination>
  </MyMQConfig>
  <common>
    <logging>
      <factoryAdapter type="Common.Logging.NLog.NLogLoggerFactoryAdapter, Common.Logging.NLog">
        <arg key="configType" value="FILE"/>
        <arg key="configFile" value="~/NLog.config"/>
      </factoryAdapter>
    </logging>
  </common>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.ServiceLocation" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.3.0.0" newVersion="1.3.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>