<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging" />
    </sectionGroup>
    <section name="MyMQConfig" type="IronFramework.Common.Config.SectionHandler`1[[Megadotnet.MessageMQ.Adapter.NetCore.MyMQConfig, Megadotnet.MessageMQ.Adapter.NetCore]],IronFramework.Common.Config.Standard"/>
  </configSections>
  <common>
    <logging>
      <factoryAdapter type="Common.Logging.NLog.NLogLoggerFactoryAdapter, Common.Logging.NLog">
        <arg key="configType" value="FILE" />
        <arg key="configFile" value="~/NLog.config" />
      </factoryAdapter>
    </logging>
  </common>
  <MyMQConfig>
    <mqidaddress>tcp://127.0.0.1:61616/</mqidaddress>
    <queuedestination>PushMessageQueue</queuedestination>
  </MyMQConfig>
</configuration>