<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging" />
    </sectionGroup>
    <section name="MyMQConfig" type="IronFramework.Common.Config.SectionHandler`1[[Megadotnet.MessageMQ.Adapter.Config.MyMQConfig, Megadotnet.MessageMQ.Adapter]],IronFramework.Common.Config.Standard"/>
  </configSections>
  <connectionStrings>
    <add name="ScheduleHostDb" connectionString="data source=.;initial catalog=ScheduleHostDb;persist security info=True;user id=sa;password=sa;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <common>
    <logging>
      <factoryAdapter type="Common.Logging.NLog.NLogLoggerFactoryAdapter, Common.Logging.NLog40">
        <arg key="configType" value="FILE" />
        <arg key="configFile" value="~/NLog.config" />
      </factoryAdapter>
    </logging>
  </common>
  <MyMQConfig>
    <mqidaddress>tcp://127.0.0.1:61616?wireFormat.maxInactivityDuration=0</mqidaddress>
    <queuedestination>TestingMessageCenterQueue</queuedestination>
    <interval>2000</interval>
  </MyMQConfig>
</configuration>
